body{
    background: #FFFFFF;
    min-width: 440px;
    font-family: 'Poppins', sans-serif;
}

.container-fluid{

    width: 100%;
    height: 100%;
    margin: auto;
    padding-left: 5;

    /*border-style: solid;
   border-color: #00ff00;*/
}

#main-header {
    background: #333;
    color: white;
    height: 60px;

    text-align: left;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;


    z-index: 20000;
    opacity: .9;
}   

#main-header a {
    color: white;
}

.site-name {
    display: block;
    font-weight: 500;
    font-size: 1.3em;

    margin-top: 6;
    margin-left: 20;

}

.site-desc {
    display: block;
    font-weight: 300;
    font-size: 1.1em;
    color: #999;

    /*margin-top: 5;*/
    margin-left: 20;
}

.padding-sides-zero{
    padding-left: 0px;
    padding-right: 0px;
}

.padding-left-zero{
    padding-left: 0px;
}

.margin-top-10{
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-35{    
    margin-top: 35px;
}

section{

    margin-top: 20px;
    /*display: table;*/
    /*display: table-cell;*/

}



.row_panel_map{

    /*width: 90%;*/
    height: 100%;

    padding-left: 0px;
    /*padding-right: 20px;*/

    /*margin-right: -15;*/
    /*margin-left: -15;*/

    padding-top: 30px;
    margin-bottom: 10px;
    display: block;

    /*width: 90%;*/
}

#map{

    /*position: absolute;*/
    /*width: 100%;*/
    height: 100%;
    border-style: solid;
    border-width: 1px;
    /*border-radius: 5px;*/
    border-color: #3B6A93;
    /*margin-bottom: 5;*/
    /*margin: auto;*/
    /*margin-right: -15;*/

    /*display: table;
    margin: 0 auto;*/

    /*z-index: 5;*/

}
    

#map2{

    height: 95%;
    border-style: solid;
    border-width: 1px;
    border-color: #3B6A93;

}

.sidebar-header-species{
    font-size: 25px;
    font-weight: bold;
}

.sidebar-header-map{
    margin-left: 40px;
}

.link_content{

    position: absolute;
    right: 300;
    top: -4;
    width: 300px;
    /*border: solid;
    border-color: blue;*/


}

.link_gen_input{
    width: 85%;
    float: left;
}

#link_gen{
    /*width: 20%;*/
    float: left;
    top: 15;
}




#region{
    /*pointer-events: none;*/
    /* for "disabled" effect */
    /*opacity: 0.5;*/
    /*background: #CCC;*/

}


.link_nicho {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 130px;
    margin-top: 10px;
    z-index: 1000;
}

.link_tutorial {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 130px;
    margin-top: 10px;
    z-index: 1000;
}

.language_drop{
    /*position: absolute;*/
    /*right: 100;*/
    /*top: -4;*/
    /*border-style: solid;
    border-color: red;*/
}

.dropdown_idioma{
    margin-right: -80;
}




#main-header .language_drop div div ul li a{
    color: #616060;
    /*border-style: solid;*/
}



.link_shape {
    position: absolute;
    bottom: 20;
    right: 10;
    margin-top: 10px;
    /*display: none;*/
    z-index: 1000;
}




.link_map_type {
    position: absolute;
    top: 0;
    left: 60;
    margin-top: 10px;
    /*display: none;*/
    z-index: 9999;
}

.res_validation {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 1000;
    width: 200px;
    height: 100px;
    background-color: #3B6A93;
    border-radius: 5px;
}

.tableValidation{
    width: 100%;
    /*border-color: #3B6A93;
    border-radius: 5px;
    border-style: solid;*/
    /*padding: 5px;*/
    margin-left: 20px;
}

.rowValidation{
    width: 100%;
    /*border-style: solid;
    border-color: #3B6A93;
    border-radius: 5px;*/
    /*padding: 5px;*/
    margin-left: 20px;
}



.leaflet-control-command-interior
{
    /*background-image: url(../images/command.png);*/
    width: 25px;
    height: 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-command-interior:hover
{
    background-color: #F4F4F4;
}


.glyphicon {
    font-size: 18px;
    margin-left: 0.10em;
    margin-top: 0.70em;
}

.glyphicon-head {
    font-size: 14px;
    margin-left: 0px;
    margin-top: 0px;
}


/*.caret{
  margin-top: 1em;
  transform: rotate(7deg) !important;
}*/

.nav-element{
    height: 90% !important;
    margin-top: 5px !important;
    width: 100% !important;
}

.sp_delete{
    position: relative;
    top: 50%;
    text-align: center;
    /*transform: translateY(-50%);*/
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    /*background: #3B9A58;*/
    background: #2DC95B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2DC95B, #2DC95B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2DC95B, #3B9A58); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2DC95B, #3B9A58); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2DC95B, #3B9A58); /* Standard syntax */
    color: #ffffff;
    /*border-width: 1px;*/
    border-radius: 5px;
    /*border-style: solid;*/
    /*border-color: #318B4C;*/
}

/*classes used in taxon selection*/
/*.panel-row-especie{
  padding-bottom: 1em !important;
  height: 28%;
}
.panel-row-taxon{
  padding-bottom: .5em !important;
  height: 68%;
}
.myScrollableBlockInput{
  padding: 10px 10px; 
  overflow: auto; 
  border-radius: 10px;
  height: 70%;
}*/


/*classes used in map selection*/
/*.panel-row-seleccion{
  height: 95%;
}*/

.item_panel_region{
    height: 75%;
}

.panel-region{
    margin-bottom: .2em !important;
}

.bs-example{
    height: 100%;
}


.checkValidation{
    width: 100%; 
    /*margin-top: -5px;*/

}

.checkbox_item{
    width: 15px;
    height: 15px;
    /*margin-left: 20px !important;*/
    float: left;
    zoom: 1.5;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .checkbox_item{
        width: 15px;
        height: 15px;
        margin-left: 20px !important;
        margin-top: 7px !important;
        float: left;
        zoom: 1.5;
    }
}

.slider_item_fecha{
    margin-top: 8px;
    margin-left: 10px;
    width: 50%;
    float: left;
}

.slider_item{
    margin-top: 8px;
    margin-left: 10px;
    width: 60%;
    float: left;
}

.label_item{
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}


.buttonContainer{

    /*text-align: right;
    border-style: solid;*/
    width: 100%;
    height: 10%;
    margin: auto;

}

.myScrollableBlockConstrian{
    padding: 5px 5px; 
    margin-top: 5px !important;
    overflow: auto; 
    height:80%;
    width: 100%;
    /*border-style: solid;
    border-color: #3B6A93;*/
    border-radius: 10px;
}


.nav_container_especie{
    width: 100%;
    height: 100%;
}

.myScrollableBlockConstrianParams{
    padding: 5px 5px; 
    margin: auto;
    overflow: auto; 
    height:100%;
    width: 95%;
    /*border-style: dashed;*/
    /*border-color: #3B6A93;*/
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;

    pointer-events: none;
    /*opacity: 0.5;*/
}

.myScrollableBlockCheckBox{

    padding: 5px 5px; 
    margin: auto;
    overflow: auto; 
    height:100%;
    width: 95%;
    /*border-style: dashed;*/

}


.tbl_summary_species{
    width: 100%;
    height: 70%;
    font-family: "Arial", sans-serif;
    /*border-style: solid;*/
    border-collapse: collapse;
    border-spacing: 0;
}

.tbl_summary_conf{
    width: 100%;
    height: 30%;
    font-family: "Arial", sans-serif;

    border-collapse: collapse;
    border-spacing: 0;
}

.summary_lb{
    padding: 0;
    margin-top: 0;
}

.summary_lb_conf_lb1{
    width: 40%;
    padding: 0;
    margin-top: 0;

    /*border-style: solid;*/
}

.summary_lb_conf_lb2{
    width: 60%;
    padding: 0;
    margin-top: 0;

}

.summary_lbfecha_izq{
    width: 40%;
    height: 40px;
    padding: 0;
    border-top: solid #EBE6E6;
}
.summary_lbfecha_der{
    width: 60%;
    height: 40px;
    padding: 0;
    border-top: solid #EBE6E6;
}

.summary_lb_conf_lb3{
    width: 100%;
    text-align: center;
    height: 40px;
    /*padding: 0;*/
    margin-top: 10px;
    /*border-style: solid;*/
}

.myScrollableBlock{
    padding: 5px 5px; 
    overflow: auto; 
    height:65%;
    border-style: solid;
    border-color: #3B6A93;
    border-radius: 5px;
}

.myScrollableBlockPopup{
    /*padding: 5px 5px;*/ 
    overflow: auto; 
    height:300px;
    /*width: 300px;*/
    border-style: solid;
    border-color: #3B6A93;
    border-radius: 5px;
}

.minHeigthScroll{
    height: 100px !important;
}

.leaflet-popup-content{
    margin: 3px 3px;
    line-height: 1.4;
}


.progress-bar-item{
    height: 12px;
    margin: .1em;
}


/*classes used in variable selection*/
/*#panel-variable{
  height: 70%;
}*/

#exTab2{
    width: 100%;
    /*margin-left: .1em !important;*/
    padding-left: .1em !important;
    padding-right: .1em !important;

}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

.variables-container{
    height: 80%;
}

#treeSelectedPanel{
    display: none;
}




.myScrollableBlockVariableAdded{
    overflow: auto; 
    border-style: solid;
    border-color: #3B6A93;
    border-radius: 5px;
    float: left;
    clear: none;

    width: 35%;
    height: 100% !important;
    transition: width 2s ease;
}

.myScrollableBlockVariable{
    overflow: auto; 
    border-style: solid;
    border-color: #3B6A93;
    border-radius: 10px;
    float: left;
    clear: none;

    width: 1%;
    height: 100% !important;
    transition: width 2s ease;
}





.chart_div_container{
    height: 80% !important;
    width: 100%;
}

.epsilon-container{
    height: 70%;
}



/*.rowTableHistContainer{
  width: 100%;
  border-style: solid;
  text-align: center;
}
*/

.histcontainer{
    /*width: 100%;*/
    /*border-style: solid;
    border-color: red;*/
}

.histcontainer_row{
    margin-top: 20px;
    height: 340px;
    /*height: 45% !important;*/

    /*border-style: solid;
    border-color: red;*/

    /*    width: 95%;
        float: left;
        clear: none;
        padding-top: 40px;
        height: 45% !important;*/
}


.myScrollableBlockEpsilonSmallHist{
    /*overflow: auto; */
    border-style: solid;
    border-width: 1px;
    border-color: #3B6A93;
    height: 100%;

}

.myScrollableBlockEpsilonDecil{
    border-style: solid;
    border-color: #3B6A93;
    border-width: 1px;
    height: 320px;
}

/*.myScrollableBlockEpsilon.table_resume{
  height: 50% !important;
}*/

table{
    font-size: 13px;
}

.myScrollableBlockEpsilonTable{
    /*overflow: auto; */
    /*border-style: solid;*/
    /*border-color: #3B6A93;
    border-radius: 10px;*/
    /*text-align: left;*/
    /*float: left;*/
    /*clear: none;*/
    /*width: 95%;*/
    /*margin-top: 20px;*/
    /*height: 90% !important;*/
}

.myScrollableBlockDecilList{
    /*overflow: auto; */
    padding: 15px;
    padding-bottom: 30em;
    border-style: solid;
    border-color: #3B6A93;
    border-width: 1px;
    /*height: 45%;*/
    /*border-radius: 10px;*/
    /*text-align: left;*/
    /*float: left;*/
    /*clear: none;*/
    /*width: 95%;*/
    margin-top: 20px;
    height: 400px;
    /*height: 65% !important;*/
}

.myButtonNextContainer{
    /*overflow: auto; */
    /*border-style: solid;*/
    /*border-color: #3B6A93;*/
    /*border-width: 1px;*/
    /*height: 45%;*/
    /*border-radius: 10px;*/
    /*text-align: left;*/
    /*float: left;*/
    /*clear: none;*/
    /*width: 95%;*/
    margin-top: 20px;
    height: 50px;
    /*height: 65% !important;*/
}

#chartdiv_epsilon {
    /*height    : 100%;*/
    font-size : 11px;
}  

#chartdiv_score {
    /*width     : 100% !important;*/
    /*height    : 100%;*/
    font-size : 11px;
    margin-left: 20px;
} 

#chartdiv_score_celda {
    /*height    : 100%;*/
    font-size : 11px;
} 

#chartdiv_score_decil{
    /*width     : 100% !important;*/
    /*height    : 100%;*/
    font-size : 11px;
}



/*#tdisplay, #tdisplay_tbody{
  width: 80% !important;
  margin: auto;
}*/

.myScrollableBlockButton{
    /*overflow: auto; */
    /*position: relative;*/

    /*border-style: solid;
    border-color: #3B6A93;
    border-radius: 10px;*/
    text-align: left;
    padding-right: 20px;
    margin-top: -10px;
    float: left;
    clear: none;
    /*margin-bottom: 30px;*/

    width: 100%;
    height: 10%;

}

.custom_form_control{
    width: 100%;
    height: 33px;
}

.resizeFullVariable{
    width: 60% !important;
}

.resizeSmallVariable{
    width: 20% !important;
}


.nav-variables ul{
    float: right !important;


}

.nav-variables li{
    float: left !important;
}


#panel-results{
    height: 80%;
    width: 100%;
}

.myScrollableBlockResults{
    overflow: auto; 
    border-style: solid;
    border-color: #3B6A93;
    border-radius: 10px;
    text-align: left;

    width: 97%; /*no funciona margin-right*/
    height: 80% !important;
    margin-left: .5em !important;
}

.result_label{
    margin-left: .5em;
    margin-right: .5em;
}

.result_container{

}

.loading_data{
    width: 0%;
}


.input-group{
    /*margin-top: 1em;*/
    width: 100% !important;
    /*border-style: double;
    border-color: #42732C;*/
}

/*.input-group-addon{
        width: 90px !important;
        text-align: left;
}*/

/*h5, #obtiene_ecoregiones, #obtiene_estados{
  width: 50%;
  border-style: double;
  border-color: #42732C;
}*/

.region_div{
    /*height: 30px !important;*/
    width: 100% !important;
    /*border-style: double;
    border-color: #42732C;*/
    /*display: inline;*/
    /*float: left;*/
}

h3{
    /*margin-top: .1em !important;*/
    padding-top: .1em !important;
    padding-bottom: .1em !important;
}

/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', cursive;
}*/

/*p, div {
    font-family: 'Poiret One', cursive;
}*/



.panel-color{
    color: #42732C !important;
    margin-bottom: .2em !important;
    padding-right: .5em !important;
    text-align: right;
    font-size: 20px;
    height: 38px;
}

.text-input{

    /*margin-bottom: .3em !important;
    margin-top: .3em !important;*/
    /*display: inline-flex;*/
    width: 100%;
}

.nopadding {
    /*padding: .1em !important;*/
    padding-left: .1em !important;
    padding-right: .1em !important;
    padding-top: .1em !important;
    padding-bottom: .4em !important;
    margin: .1em !important;
}

.radio{
    padding-left: 10%;
}

#btn-group{
    margin-top: 1em;
    width: 100%;
    text-align: center;

}




.emial_component{
    padding-right: 300px;  
}

.mymodals {
    top:30%;
    left:35%;
    outline: none;
}

.mymodaldemo {
    top:20%;
    /*left:35%;*/
    outline: none;
}

.mymodalloaddata {
    top:5%;
    /*height: 400px;*/
    /*left:35%;*/
    outline: none;
}

.footer-pd{
    padding-bottom: 12px !important;
    padding-right: 30px !important;
}

#tbl_spload > tbody > tr:first-child > td {
    color: white;
    font-weight: bold;
    background-color: #0674e1;
}


.wrapper_table{

}

.resizeFull{
    width: 99%;
    height: 95%;
}

.resizeSmall {
    height: 95%;
    width: 0px;
}

/*li.jstree-node{
  margin-left: 75px !important;
}*/

#root, #Ecoregiones li, #Ecoregiones, #Estados li, #Estados, #jstree-variables-bioclim li, #jstree-topo li{
    margin-left: .2em !important;
    margin-top: .1em !important; 
}


.taxones{
    margin-top: 1em !important;
    margin-bottom: -1em;
}


.nav_species_container{
    height: 70% !important;
    width: 100% !important;
    margin-top: .1em;
    margin-left: .2em;
    margin-right: .2em;
}

.reduced_nav_species_container{
    height: 40% !important;
    width: 100% !important;
    margin-top: .1em;
    margin-left: .2em;
    margin-right: .2em;
}




.myBlockVariableAdded{

    overflow: auto; 

    border-style: solid;
    border-color: #3B6A93;
    border-radius: 10px;
    height: 95%;
    padding: 0px;

    /*    float: left;
        clear: none;*/
    /*width: 28%;*/
    /*height: 100% !important;*/
    /*margin-left: 3px;*/
    /*margin-top: 5px;*/
    /*transition: width 2s ease;*/

}




.sidebar-pane{
    width: 49%;
    height: 100%;
    margin-top: 20px;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;

}

.variable_refresh_container{
    width: 100%;
    height: 100%;
}

.var-pane{
    /*width: 100%;*/
    /*height: 87%;*/

}

.btn-pane{
    width: 100%;
    height: 13%;

    /*vertical-align: middle;*/

    /*background-color: #F8F5F5;
    border-radius: 10px;*/

    height: 40px;
    margin-top: 10px;
    text-align: center;

}

/*#get_esc_ep{
  position: absolute;
  bottom: 35;
  right: 20;
  height: 40px;
}*/


.label_componenete{
    padding-left: 15px;
}

.var_container{
    height: 80%;
}

.reduced_var_container{
    height: 30% !important;
}

.no-mg-top{
    margin-top: 0px;
}


.nav_selection{

    padding: 0px;
    /*    width: 65%;
        height: 100%;
        float: left;*/

    /*border-style: solid;*/

}


.nav-variables{
    font-size: 10px;
    height: 32px;
}



.tab-content{
    /*border-style: solid;
    border-color: red;
    */
    /*    height: 90%;
        width: 100%;*/

}


.tab-pane{
    /*height: 100%;*/
    /*border-style: solid;
    border-color: blue;*/

}


.row_raster{
    height: 79% !important;
    width: 100% !important;
    margin-top: 1em;
    /*margin-top: .1em;*/
    margin-left: .2em;
    margin-right: .2em;

    /*border-right: solid;;*/
}

.myScrollableBlockVar{
    overflow: auto; 
    border-style: solid;
    border-color: #3B6A93;
    /*#;*/
    border-radius: 5px;
    text-align: left;
    /*float: left;
    clear: none;*/

    width: 100%;
    height: 100% !important;
    transition: width 2s ease;
}




.li_variable{
    /*margin-bottom: -.2em;
    padding-bottom: -.2em;*/
    vertical-align: middle;
}

.dropdown_container{
    width: 100%;
    /*border-style: solid;*/
    /*text-align: center;*/
}

.dropdown_group{
    /*margin-left: 5px;*/
    /*border-style: solid;*/
    /*width: 100% !important;*/
}

.dropdown_bioclim{
    width: 65%;
    /*border-style: solid;*/
}

.dropdown_time{
    width: 35% !important;
    /*border-style: solid;*/
}

.dropdown_topo{
    width: 100% !important;
    /*border-style: solid;*/
}

.dropdown_bioclim button, .dropdown_time button, .dropdown_topo button{
    width: 100%;
}

#btn_topo{
    width: 100%;
}

.dropdown_items_topo{
    width: 90%; 
}

#btn_variable_bioclim{
    width: 100% !important;;
}

/*#btn_variable_bioclim_time{
 width: 100% !important;
}*/


.tab-pane{
    width: 100%;
}



.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.rect:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis_fecha {
    font: 8px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.yaxis path,
.yaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}


.xaxis path,
.xaxis line {
    fill: none;
    stroke: #000;
    shape-rendering: optimizeSpeed;
}

/*.x{
  fill: none;
}*/


.line {
    fill: none;
    /*stroke: steelblue;*/
    stroke-width: 2px;
    z-index: 5000;
}

.dot {
    fill: #fff;
    /*stroke: steelblue;*/
    stroke-width: 2px;
    z-index: 5000;
}

/*.x.axis path {
  display: none;
  font: 5px sans-serif;
}*/


.d3-tip {

    position: absolute;
    background-color: rgba(255,255,255,1);
    padding: 10px;
    border: 1px solid #ddd;

    font-family: Arial;
    font-size: 13px;

    transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;

    transition-delay: 500ms
        -moz-transition-delay: 500ms;
    -webkit-transition-delay: 500ms;

    -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
    box-shadow: 4px 4px 12px rgba(0,0,0,.5);

    -moz-border-radius: 15px;
    border-radius: 15px;

    z-index: 10000;

}

/* Creates a small triangle extender for the tooltip */
/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.headertable{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    width: 20% !important;
    font-weight: bold;
    padding-left: 10px;
}

.bodytable{
    text-align: left;
    font-family: sans-serif;
    font-size: 12px;
    width: 20% !important;
    border-style: solid;
    background-color: #EEEEEE;
    border-color: #fff;
    margin-left: 20px !important;
}

#table_species{
    width: 100% !important;
    background-color: #EEEEEE;
    padding: 30px;
}



pre{
    height: 50px;
}










.btnBioclim{
    /*height: 8%;*/
    width: 100%;
}


.row_var_item_sp {
    line-height: 2em;
    background: #3B6A93;
    border-radius: 4px;
    margin: 2px;
    color: #fff;
    padding-top: 2px;
}


.row_var_item {
    line-height: 2em;
    background: #3B6A93;
    width: 98%;
    border-radius: 4px;
    margin: 2px;
    color: #fff;
    text-align: left;
    padding: 2px;
}

.cell_item {
    color: #3B6A93;
    background: #fff;
    border-radius: 2px;
    margin: 2px;
    /*display: inline-block;*/
    width: 98%;
    z-index: 1px;
    padding: 2px;
    font-weight: 500;
}

.row_var_item::first-line{
    font-size: 12px;
}

button.glyphicon-refresh {
    font-size: 18px;
    /*margin-left: 0.10em;*/
    margin-top: -2px;
}

button.glyphicon-link {
    font-size: 13px;
    /*margin-left: 0.10em;*/
    margin-top: -2px;
}

button.glyphicon-remove{
    width: 25px;
    height: 27px;

    font-size: 1em;
    /*margin-left: 20px;*/
    margin-top: 0px;
    /*vertical-align: -2px;*/

}

/* accede a la imagen dentro del boton con el fin de centrarla dentro de el */
button.glyphicon-remove:before {
    margin-left: -6px !important;
}



/*.row_var_item {
  line-height: 2em;
  background: #3B6A93;
  width: 98%;
  border-radius: 4px;
  margin: 2px;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.cell_item {
  color: #3B6A93;
  background: #fff;
  border-radius: 2px;
  margin: 2px;
  display: inline-block;
  width: 98%;
  z-index: 1px;
  padding: 2px;
  font-weight: 500;
}*/




.map_grid{
    background-color: none;
    color: blue;
    z-index: 5000;
}




.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;
    overflow: hidden;
}
.ui-menu .ui-menu {
    position: absolute;
}
.ui-menu .ui-menu-item {
    height:30px;
    font-size:15px;
    z-index: 100;
}


.enlace_sp:link, .enlace_sp:hover, .enlace_sp:active, .enlace_sp:visited { 
    color: white; 
}


.label_table{
    margin-right: 10px;

}

/*.dropdown_time{
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  border-style: solid;
}*/

.btn_time{
    width: 100%;
    /*border-radius: 5px;*/
}

.btn_column_hist{
    width: 20px !important; 
    height: 20px !important;
    margin-right: 30px;
    margin-top: 5px;
    padding: 0px;
    font-size: 13px;
}

.btn_column{
    width: 20px !important; 
    height: 20px !important;
    margin-top: -5px;
    padding: 0px;
    font-size: 13px;
    /*z-index: 100;*/
}


.mymodals_info {
    top:30%;
    left:0%;
    outline: none;
    z-index: 9999;
}


.mymodals_infogroup {
    top:125px;
}

.occ_number{
    width: 50px;
    margin-left: 10px;
    border: 1px;
    border-style: solid;

    /*    border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;*/
    /*    border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;*/
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
}

.div_formula{
    width: 100%;
    /*height: 50%;*/
    text-align: center;
}


.row_fechacolecta{
    width: 100%;
    text-align: center;
}

#hist_fecha_container{
    /*width: 80%;*/
    margin: 0 auto;
    /*width: 450px;*/
    height: 110px;
    border-style: solid;
    border-radius: 5px;
    border-color: #3B6A93;

}

#colors {
    width: 450px;
    float: right;
}

.palette {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    margin: 4px 0 4px 6px;
    padding: 4px;
    background: #fff;
    border: solid 1px #aaa;
}

.swatch {
    display: block;
    vertical-align: middle;
    width: 20px;
    height: 10px;
}  

.link_shape_map {
    position: absolute;
    bottom: 20;
    right: 10;
    margin-top: 0px;
    z-index: 1000;
}

#escala_color{
    z-index: 5000;
    width: 80px;
    height: 160px;
    top: 100px;
    left: 10px;
    text-align: right;
}

.link_shape_decil {
    position: absolute;
    bottom: 20;
    right: 10;
    margin-top: 10px;
    /*display: none;*/
    z-index: 1000;
}

#escala_color_decil{
    z-index: 5000;
    width: 80px;
    height: 160px;
    top: 300px;
    left: 10px;
    text-align: right;
}



#map_text {
    position: absolute;
    width: 6%;
    height: 30px;
    bottom: 50%;
    right: 0;
    z-index: 5000;
}

.xaxis_legend text{
    font: 10px sans-serif;

}

.xaxis_legend line, .xaxis_legend path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*svg{ 
  padding-left: 50px;
}*/




.modalloading {
    display:    none;
    position:   relative;
    z-index:    1000;
    top:        40px;
    right:       -6px;
    height:     105%;
    width:      99%;
    background: rgba( 255, 255, 255, .8 ) 
        url('../images/loading.gif') 
        50% 50% 
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
#map.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#map.loading .modalloading {
    display: block;
}


.margin-ten{
    margin: 10px;
}

.margin-left-ten{
    margin-left: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.margin-right-20{
    margin-right: 20px;
}

.margin-right-30{
    margin-right: 30px;
}

.margin-right-50{
    margin-right: 50px;
}

.margin-right-60{
    margin-right: 60px;
}

.margin-right-80{
    margin-right: 80px;
}

.margin-right-90{
    margin-right: 90px;
}

.margin-left-five{
    margin-left: 5px;
}

.margin-left-two{
    margin-left: 2px;
}

.margin-top-15{    
    margin-top: 15px;
}

.margin-top-20{    
    margin-top: 20px;
}

.margin-top-ten{    
    margin-top: 10px;
}

.margin-top-five{    
    margin-top: 5px;
}

.padding-top-15{
    padding-top: 15px;
}

.padding-bottom-15{
    padding-bottom: 15px;
}

.bg-card{
    background-color: #f7f8ff61;
    border-radius: 5px;
}

.box_shadow{
    border-style: solid;
    border-width: 1px;
    border-color: #3B6A93;    
}

.height95{
    height: 95%; 
}

.height75{
    height: 75%; 
}

.height80{
    height: 80%; 
}

.height90{
    height: 90%; 
}

.height85{
    height: 85%; 
}

.height20{
    height: 20%; 
}




#mapwrap, #mapwrap2 {
    width: 100%;
    /*height: 400px;*/
    /*height: 90%;*/
    /*border: 1px solid #333;*/
    position: relative;
    overflow: hidden;
}

#toolbar {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 1);
    opacity: .6;
    width: 300px;
    /*height: 500px;*/
    /*height: 90vh;*/
    position: absolute;
    left: -300px;
    z-index: 1;
    transition: .5s left;
    padding: 20px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #3B6A93;
}

#toolbar2 {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 1);
    opacity: .6;
    width: 200px;
    height: 300px;
    position: absolute;
    right: -200px;
    z-index: 1;
    transition: .5s right;
    padding: 20px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #3B6A93;
    top: 150px;
}

#toolbar.open {
    left: 0;
    opacity: .95;
}

#toolbar2.open {
    right: 0;
    opacity: .95;
}


#toolbar .hamburger{
    height: 100px;
    width: 25px;
    background: #3B6A93;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .3);
    position: absolute;
    right: -25px;
    top: 40%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #3B6A93;
    cursor: pointer;
    z-index: 9999;
}

#toolbar2 .hamburger {
    height: 100px;
    width: 25px;
    background: #3B6A93;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .3);
    position: absolute;
    left: -25px;
    top: 40%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #3B6A93;
    cursor: pointer;
    z-index: 9999;
}



.hamburger span {
    color: #fff;
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
    top: 39px;
    left: -21px;
}

#toolbar2 .hamburger span {
    color: #fff;
    display: inline-block;
    position: relative;
    transform: rotate(90deg);
    top: 39px;
    left: -13px;
}

#tourstops{
    overflow-y: scroll;
    max-height: 95vh;
}

#tourstops2 {
    overflow-y: scroll;
    height: 250px;
}

#toolbar ul, #toolbar2 ul {
    margin: 0;
    padding: 0;
}

#toolbar li, #toolbar2 li {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 6px 3px;
    cursor: pointer;
}

#toolbar li:hover, #toolbar2 li:hover {
    color: #666;
}





.notify-icon span{
    display: inline-block;
    border: 1px solid orange;
    border-radius: 50%;
    height: 24px; 
    width: 24px;
    animation: pulse .6s 4 forwards;
    transform-origin: center center;
}
@keyframes pulse{
    0%{
        transform: scale(5.5);
        opacity: .2;
    }
    50%{
        opacity: .8;
    }
    100%{
        transform: scale(.1);
        opacity: 1;
    }
}


.alwaysvisible{
    position: fixed;
    z-index: 1000;
    margin: auto;
    top: 90%;
    background-color: #3B6A93;
    color: white;
}

.visibleItem{

}

.anterior{
    text-align: left;
}

.siguiente{
    text-align: left;
}

#section0, #section1, #section2 {
    overflow-y: scroll;
    scroll-behavior: smooth;   
}

.a_estatus{
    color: white;
    text-decoration: none;
}

.a_estatus:hover{
    color: white;
    text-decoration: none;
}


#show_gen #get_esc_ep #params_next{

    height: 25px !important;

}

.col-centered{
    float: none;
    margin: 0 auto;
}

.btn-sig{

    position: fixed;
    left: 45%;
    top: 95%;
    z-index: 100;
    /*border-radius: 50%;*/
}

.btn-sig-left{
    position: fixed;
    left: 25%;
    top: 95%;
    z-index: 100;
    /*border-radius: 50%;*/
}

.btn-sig-rigth{
    position: fixed;
    left: 65%;
    top: 95%;
    z-index: 100;
    /*border-radius: 50%;*/
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 2000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}



.no-padding{
    padding: 0px !important;
}

.header-title-cell{
    border-bottom: 0px !important;
    border-top-left-radius: 0px !important; 
    border-top-right-radius: 0px !important;
    
}

.h3-title-cell{
    margin-top: 0px !important;
}

.mywidth{
    width: 230px !important;
}

#btn_map_type{
    z-index: 2001;
}

.multiselect{
width: 382 !important;
display: none;
}

.multiselect-container{
    width: 490px !important;
}

.pd-no-sides{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pd-no-rside{
 padding-right: 0px !important;   
}

.pd-no-lside{
 padding-left: 0px !important;
}


#spContainer{
    height: 80px;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #3B6A93; 
    border-radius: 5px;  
}

#spRigthContainer{
    height: 140px;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #3B6A93; 
    border-radius: 5px;  
}

/*------------------------------------------------------------------------*/
/* Tooltip container  */

.dataTables_scrollHead {
    overflow: unset !important;
}

.nooverflow {
    overflow: unset !important;
}


.ttip {
    position: relative;
    display: inline-block;
}

.ttext h5,
.ttext[ttip-left] h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    background: #e8e8e8;
    padding: 4px 0px;
    font-weight: bolder;
}
.ttext p,
.ttext[ttip-left] p {
    padding: 0px 8px;
    font-weight: lighter;
    font-size: 13px;
}

.ttext img,
.ttext[ttip-left] img {
    margin-bottom: 10px;
}

.ttip .ttext {
    visibility: hidden;
    width: 230px;
    top: -5px;
    left: 130%;
    background-color: white;
    color: #000;
    text-align: center;	
    border-style: solid;
    border-width: thin;
    border-color: #dedede;
    border-radius: 6px;

    position: absolute;
    z-index: 9999;
    opacity: 0;
}

.ttip .ttext[ttip-left] {
  visibility: hidden;
  width: 230px;
  top: -5px;
  left: unset;
  right: 130%;
  background-color: white;
  color: #000;
  text-align: center;	
  border-style: solid;
  border-width: thin;
  border-color: #dedede;
  border-radius: 6px;
  
  position: absolute;
  z-index: 9999;
  opacity: 0;
}

.ttip .ttext::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #dedede transparent transparent;
}
.ttip .ttext[ttip-left]::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: unset;
    left: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent transparent #dedede;
    
}
/* Show the tooltip text when you mouse over the tooltip container  */
.ttip:hover .ttext,
.ttip:hover .ttext[ttip-left] {
    visibility: visible;
    opacity: 1;
}



.text-sm{
    font-size: 12px !important;
}

.btn_decil_cp{
    margin-top: -49px !important;
    margin-left: 40px !important;
    border-radius: 4px;
}


.btn_nav_continer{
    position: fixed;
    bottom: 120px !important;
    right: 30px !important; 
    z-index: 99999 !important;
    width: 40px;
    height: 40px;
}

.btn_nav_continer button{
    border-radius: 50%;
}

.glyphicon.glyphicon-chevron-up, .glyphicon.glyphicon-chevron-down {
    font-size: 20px;
}



.pd-top5{
    padding-top: 5px;
}

.pd-top10{
    padding-top: 10px;
}

.pd-top20{
    padding-top: 20px;
}

.pd-top30{
    padding-top: 30px;
}

.pd-top40{
    padding-top: 40px;
}

.pd-top50{
    padding-top: 50px;
}

.pd-top60{
    padding-top: 60px;
}


.pd-bottom5{
    padding-bottom: 5px;
}

.pd-bottom10{
    padding-bottom: 10px;
}

.pd-bottom20{
    padding-bottom: 20px;
}

.pd-bottom30{
    padding-bottom: 30px;
}

.pd-bottom40{
    padding-bottom: 40px;
}

.pd-bottom50{
    padding-bottom: 50px;
}

.pd-bottom60{
    padding-bottom: 60px;
}


.container_5p{
    height: 5% !important;
}

.container_10p{
    height: 10% !important;
}

.container_15p{
    height: 15% !important;
}

.container_20p{
    height: 20% !important;
}

.container_25p{
    height: 25% !important;
}

.container_30p{
    height: 30% !important;
}

.container_35p{
    height: 35% !important;
}

.container_40p{
    height: 40% !important;
}

.container_45p{
    height: 45% !important;
}

.container_50p{
    height: 50% !important;
}

.container_55p{
    height: 55% !important;
}

.container_60p{
    height: 60% !important;
}

.container_65p{
    height: 65% !important;
}

.container_70p{
    height: 70% !important;
}

.container_75p{
    height: 75% !important;
}

.container_80p{
    height: 80% !important;
}

.container_85p{
    height: 85% !important;
}

.container_90p{
    height: 90% !important;
}

.container_95p{
    height: 95% !important;
}

.container_100p{
    height: 100% !important;
}


#reload_map{
    border-right: 2px;
}


.mg-top5{
    margin-top: 5px;
}

.mg-top10{
    margin-top: 10px;
}

.mg-top20{
    margin-top: 20px;
}

.mg-top30{
    margin-top: 30px;
}

.mg-top40{
    margin-top: 40px;
}

.mg-top50{
    margin-top: 50px;
}

.mg-top60{
    margin-top: 60px;
}


.w13{
    /*float: left;*/
    display:inline-block;
    width: 33% !important;
}


.allwidth{
    width: 100% !important;
}


.btn-bug{
    position:fixed;
    top:330px;
    right:-95px;
    z-index: 9999;
    transform:rotate(-90deg);
    border-radius: 0px;
    border: 2px solid white;
}


.inputfecha{
    width: 60px !important;
}

.lbfechasp{
    font-size: 12px;
}


